<div class="menu-container">
  <h1>Tp Angular</h1>
  <div class="menu-header">
    <img src="/assets/images/personne.png" alt="">
    <h3>Consultant Optima</h3>
    <p>Admin</p>
  </div>
  <nav class="menu">
    <ul>
      <li routerLink="">
        <a><img src="/assets/images/maison.png" alt="Home"> Home </a>
      </li>
      <li routerLink="">
        <a><img src="/assets/images/billet.png" alt="Home"> Workshops </a>
      </li>
      <li routerLink="/consultants">

        <a><img src="/assets/images/consultant.png" alt="Consultants"> Consultants </a>
      </li>
      <li routerLink="">

        <a><img src="/assets/images/gestion-des-dossiers.png" alt="Projects"> Projects </a>
      </li>
      <li routerLink="">

        <a><img src="/assets/images/presse-papiers.png" alt="Report"> Report </a>
      </li>
      <li routerLink="">

        <a><img src="/assets/images/reglage.png" alt="Settings"> Settings </a>
      </li>
    </ul>
  </nav>

  <div class="menu-footer">
    <button class="button button-clear">
      <p>Log Out</p>
      <img src="/assets/images/logout.png" alt="">
    </button>
  </div>
</div>
