@import "/src/styles/base";
.remove-consultant{
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background: white(1);
  padding: 20px;
  img{
    width: 50px;
    object-fit: cover;
  }
  p{
    margin-bottom: 10px;
  }
  .red{
    background-color: error(1);
  }
}
